.card-servicio{
  padding: 0em 1em;
  .sub-container{
    padding: 1em;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: white;
    transition: 0.3s;
    height: 100%;
    .img-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      margin-bottom: 1em;
      img{
        width: 200px;
      }
    }
    .title{
      font-size: 18px;
      color: var(--primary);
      padding: 0px;
      margin-bottom: 10px;
      font-weight: 600;
    }
    .description{
      font-size: 14px;
      color: var(--text);
      padding: 0px;
      margin-bottom: 0px;
    }
  }
  .sub-container:hover{
    border: 1px solid var(--accent-secondary);
  }
}
@media (max-width: 480px){
  .card-servicio{
    padding: 1em 2em;
  }
}