.catalogos{
  padding: 10em 0em;
  h2{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 1em;
  }
  .contenedor{
    padding: 0 12em;
    .wrapper{
      padding: 0em 2em;
      .card{
        border-radius: 15px;
        cursor: pointer;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        .img-container{
          overflow: hidden;
          img{
            transition: transform 0.3s ease-in-out;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
          }
        }
        p{
          text-align: center;
          font-size: 16px;
          color: var(--primary);
          text-transform: uppercase;
          margin-top: 1em;
          font-weight: 600;
        }
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          text-align: center;
          padding: 0.6em 0em;
          border-radius: 20px;
          background-color: var(--accent);
          margin-bottom: 1em;
          transition: 0.5s;
          p{
            margin: 0px;
            color: white;
            margin-right: 10px;
          }
          i{
            color: white;
            font-size: 20px;
          }
        }
      }
      .card:hover{
        img{
          transform: scale(1.1);
        }
        a{
          background-color: var(--accent-secondary);
        }
      }
    }
  }
}