.contacto{
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0em;
  background-image: url("https://hostiko.com/layout91/wp-content/uploads/2024/06/footer-bg.png");
  form{
    width: 45%;
    padding: 2em;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    h2{
      font-size: 36px;
      color: var(--primary);
      font-weight: 600;
      text-align: center;
      margin-bottom: 0.8em;
    }
    input{
      border-radius: 10px;
      border: 1px solid transparent !important;
      height: 52px;
      margin-bottom: 17px;
      font-size: 14px;
      padding: 0px 20px;
      width: calc(50% - 10px);
    }
    input:focus{
      outline: none;
      box-shadow: 0 0 10px var(--accent);
    }
    input[name="email"]{
      width: 100%;
    }
    textarea{
      width: 100%;
      border: none;
      border-radius: 10px;
      padding: 20px;
      font-size: 14px;
      color: var(--text);
      margin-bottom: 1em;
    }
    textarea:focus{
      outline: none;
      box-shadow: 0 0 10px var(--accent);
    }
    button{
      width: 100%;
      padding: 13px 0px;
      /* border: none; */
      border-radius: 10000px;
      background-color: var(--accent);
      color: white;
      text-transform: capitalize;
      font-size: 22px;
      font-weight: 800;
      text-transform: uppercase;
      border: 1px solid transparent;
      transition: 0.3s;
    }
    button:hover{
      background-color: transparent;
      color: var(--accent-secondary);
      border: 1px solid var(--accent-secondary);
    }
  }
}
@media (max-width:480px){
  .contacto{
    padding: 2em;
    form{
      width: 100%;
      padding: 1em;
      input{
        width: 100%;
      }
      button{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}