.form-taller{
  display: flex;
  justify-content: center;
  padding: 8em 0em 8em 0em;
  form{
    width: 50%;
    padding: 3em;
    border-radius: 15px;
    background-color: #ebf2ff;
    h2{
      font-size: 36px;
      color: var(--primary);
      font-weight: 600;
      text-align: center;
      margin-bottom: 0.8em;
      text-transform: capitalize;
    }
    input{
      border-radius: 10px;
      border: 1px solid transparent !important;
      height: 52px;
      margin-bottom: 17px;
      font-size: 14px;
      padding: 0px 20px;
      width: calc(50% - 10px);
    }
    input:focus{
      outline: none;
      box-shadow: 0 0 10px var(--accent);
    }
    input[name="email"]{
      width: 100%;
    }
    button{
      width: 100%;
      padding: 10px 0px;
      border: none;
      border-radius: 10000px;
      background-color: var(--accent-secondary);
      color: white;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid transparent;
      transition: 0.3s;
    }
    button:hover{
      background-color: transparent;
      color: var(--accent-secondary);
      border: 1px solid var(--accent-secondary);
    }
  }
  .loader {
    text-align: center;
    margin-top: 20px;
  
    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: #000;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .wrapper{
    width: 400px;
  }
  .alert{
    position: fixed;
    top: 40px;
    background-color: green;
    color: white;
    font-size: 14px;
  }  
}
@media(max-width: 480px){
  .form-taller{
    form{
      width: 100%;
      input{
        width: 100%;
      }
    }
  }
}