.linea-info{
  padding: 5em 10em;
  .background{
    background-image: url("../../public/images/Pack\ Elite\ PNG.png");
    height: 70vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .wrapper{
    padding: 3em;
    p{
      line-height: 28px;
      font-size: 16px;
    }
    .contenedor{
      display: flex;
      align-items: center;
      i{
        color: white;
        background-color: var(--accent);
        padding: 1px 4px 0px 3px;
        border-radius: 100000px;
        font-size: 12px;
        margin-right: 10px;
      }
      p{
        margin: 0px;
        font-weight: 500;
        color: var(--primary);
      }
    }
  }
}
@media (max-width: 480px){
  .linea-info{
    padding: 4em 1em 2em 1em;
    .wrapper{
      padding: 1em;
      .contenedor{
        padding: 1.5em 1em;
      }
    }
  }
}