.linea-title{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://hostiko.com/layout91/wp-content/uploads/2024/05/hostiko-banner-bg.png");
  background-position: center;
  background-size: cover;
  h1{
    font-size: 66px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary);
  }
  p{
    font-size: 16px;
    width: 60%;
    color: var(--text);
    text-align: center;
  }
}
@media (max-width: 480px){
  .linea-title{
    height: 80vh;
    h1{
      font-size: 44px;
    }
    p{
      width: 80%;
    }
  }
}
@media (max-width: 380px){
  .linea-title{
    h1{
      font-size: 36px;
    }
  }
}