.paquetes{
  padding: 2em 5em 8em 5em;
  h2{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 36px;
  }
  .paq-container{
    box-shadow: 0px 30px 40px 0px rgba(56.00000000000001, 172, 168, 0.15);
    border-radius: 10px 10px 10px 10px;
  }
}
@media (max-width: 480px){
  .paquetes{
    padding: 4em 1em 6em 1em;
  }
}