.prod-card{
  padding: 1em;
  .product-card{
    height: calc(10px + 80vh);
    overflow-y: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    padding: 1em;
    .img{
      width: auto;
      height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .wrapper{
      padding: 1.5em;
      .name{
        font-weight: 600;
        font-size: 18px;
        color: var(--blue);
      }
    }
  }
  .product-card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra un poco más fuerte al hacer hover */
  }
}
@media (max-width: 480px) {
  .prod-card{
    .product-card{
      display: flex;
      height: 40vh;
      .img{
        width: 50%;
        height: auto;
      }
      .wrapper{
        width: 50%;
        padding: 0px 0px 0px 1em;
        .name{
          font-size: 16px;
        }
        .description{
          font-size: 14px;
        }
      }
    }
  }
}