.product-info{
  padding: 10em 2em 2em 2em;
  .responsive-title{
    display: none;
  }
  .img{
    width: 100%;
    height: auto;
  }
  .informacion{
    height: 85vh;
    padding: 0em 2em;
    h1{
      color: var(--primary);
      font-size: 35px;
      margin-bottom: 0.5em;
    }
    h2{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
    ul{
      padding: 0;
      list-style: disc;
      p{
        font-weight: 600;
      }
      li{
        margin-left: 2em;
      }
    }
    .diagrama{
      margin-bottom: 1.5em;
      .title{
        font-weight: 600;
      }
      a{
        display: flex;
        align-items: center;
        p{
          margin: 0px;
          color: var(--accent-secondary);
          font-weight: 600;
        }
        i{
          font-size: 30px;
          margin-right: 5px;
          color: var(--accent-secondary);
        }
      }
    }
    button{
      font-size: 25px;
      border: none;
      border-radius: 100px;
      background-color: var(--accent);
      padding: 5px 15px;
      width: 100%;
      color: white;
    }
  }
  .informacion::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
@media (max-width: 480px) {
  .product-info{
    padding: 2em 1em;
    .responsive-title{
      display: block;
    }
    .img{
      height: 80vh;
    }
    .informacion{
      padding: 1em;
      height: auto;
      h1{
        display: none;
      }
    }
  }
}