.servicios{
  padding: 8em 10em;
  h2{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 36px;
  }
  p{
    text-align: center;
    font-size: 16px;
    color: var(--text);
    margin-bottom: 1.5em;
    padding: 0em 5em;
  }
}
@media (max-width: 480px){
  .servicios{
    padding: 10em 1em 1em 1em;
    p{
      padding: 1em;
    }
  }
}