.slides{
  padding: 0px !important;
  margin: 0px;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  .shadow{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    .text{
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10em 2em 2em 5em;
      button{
        display: flex;
        align-items: center;
        width: fit-content;
        border: none;
        font-size: 18px;
        font-weight: 600;
        /* background-color: var(--accent-secondary); */
        background-color: white;
        padding: 1.2em 2em;
        border-radius: 15px;
        p{
          margin: 0px;
          color: black;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 700;
        }
      }
      h1{
        margin-bottom: 0.5em;
        font-size: 48px;
      }
      h2{
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 480px){
  .slides{
    height: 100vh;
    .shadow{
      .text{
        padding: 1em;
        margin-top: 4em;
        .center{
          display: flex;
          justify-content: center;
          button{
            padding: 14px 20px;
            p{
              font-size: 16px;
            }
          }
        }
        h1{
          text-align: center;
          font-size: 22px;
          margin-bottom: 0.8em;
        }
        h2{
          text-align: center;
          font-size: 14px !important;
        }
      }
    }
  }
}