@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  position: relative;
}
:root {
  --primary: #232E3D;
  /* --accent: #38ACA8; */
  --accent: #003366;
  --text: #666666;
  /* --accent-secondary: #FD9009; */
  --accent-secondary: #FF6600;
}
h2{
  color: var(--primary);
}
p{
  color: var(--text);
  font-size: 14px;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
a:hover, a:focus, a:active {
  text-decoration: none; /* Mantiene sin subrayado en el hover o focus */
  color: inherit;        /* Mantiene el color en cualquier estado */
}
.wpp-button{
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0px 12px;
  border-radius: 100px;
  color: white;
  background-color: green;
  cursor: pointer;
}
.wpp-button i{
  font-size: 50px;
}
@media (max-width: 480px){
  h2{
    font-size: 26px !important;
  }
}