.header{
  padding: 1em;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .logo{
    width: 25%;
    img{
      width: 70%;
      margin-left: 30%;
    }
  }
  .menu{
    width: 75%;
    display: block;
    ul{
      li{
        width: auto;
        flex-grow: 0;
        padding: 0em 2em;
        a{
          width: auto;
          color: var(--primary);
          font-size: 14px;
          font-weight: 500;
          white-space: nowrap;
          transition: 0.3s;
          text-transform: uppercase;
        }
        a:hover{
          color: var(--accent-secondary);
        }
      }
    }
  }
  .burger-menu{
    display: none;
  }
  .menu-open {
    display: block;
  }
  .menu-close{
    display: block;
  }
}

@media (max-width: 480px) {
  .header{
    padding: 1em 2em 1em 1em;
    flex-wrap: wrap;
    .logo{
      width: 40%;
      img{
        width: 100%;
        margin-left: 0;
      }
    }
    .menu{
      width: 100%;
      background-color: white;
      ul{
        flex-direction: column !important;
        li{
          margin-bottom: 1em;
        }
      }
    }
    .menu-open {
      display: block; // Mostramos el menú cuando el estado está activo
      z-index: 10000000;
    }
    .menu-close{
      display: none;
    }
    .burger-menu{
      width: 60%;
      display: flex;
      justify-content: end;
      align-items: center;
      i{
        font-size: 30px;
      }
    }
  }
}